.text-gray-primary{
  color: #222222;
}

.text-gray-secondary{
  color: #63666A;
}

.text-white{
  colro: white;
}

.ui-gray-primary{
background-color: #444444;
}
.ui-gray-secondary{
  background-color: #63666A;
}
